@{
    ViewBag.Title = "Manage Posts";
}

<h2>Manage Posts</h2>
<p>@Html.ActionLink("Create New Post", "CreatePost")</p>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
    }
    .table th, .table td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@Html.ActionLink((string)post.Title, "EditPost", new { id = post.Id })</td>
                <td>@post.CreatedDate.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
