@model IEnumerable<FakeBlog.Models.Comment>

<div class="comments-list">
    @if (Model.Any())
    {
        foreach (var comment in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong>@comment.AuthorName</strong>
                        </div>
                        <div class="text-muted">
                            @comment.CreatedDate.ToString("g")
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>@comment.Content</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-light">
            No comments yet. Be the first to comment!
        </div>
    }
</div>
